<!-- Login -->
<div id="login" ng-controller="LoginController">
		
	<div id="content">
	
		<div ng-bind="errorText" class="error"></div>
	
		<span class="error" ng-show="submitted && loginForm.mail.$error.email">The entered email ist not valid</span>
			
	  <div class="container">
        <div class="row">
          <div class="span6 offset3">
            <h4 class="widget-header"><i class="icon-lock"></i> Signin to Foodeys</h4>
            <div class="widget-body">
              <div class="center-align">
                <form class="form-horizontal form-signin-signup"  name="loginForm" novalidate>
                  <input type="text" name="email" placeholder="Email" ng-model="loginName" required>
				  <span class="error" ng-show="submitted && loginForm.mail.$error.required">This field is required</span>
                  <input type="password" name="password" placeholder="Password" ng-model="pw" >
				  	<span class="error" ng-show="submitted && loginForm.pw.$error.required">This field is required</span>
                  <div class="remember-me">
                    <div class="pull-left">
                      <label class="checkbox">
                      
                      </label>
                    </div>
                    <div class="pull-right">
                   
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <input type="submit" value="Signin" class="btn btn-primary btn-large" fast-click="login(loginForm)">
                </form>
                <h4><i class="icon-question-sign"></i> Don't have an account?</h4>
                <a href="#register" class="btn btn-large bottom-space">Signup</a>

              </div>
            </div>
          </div>
        </div>
      </div>
		
	</div>

</div>