<div id="content">

	<h1> 
			Recipes
	</h1>

	<div class="input-append">
		<input tagauto-complete class="span10" id="searchField" type="text">
		<br/>asdasds
		<p><input type="text" id="taglist" taglist ng-model="searchquery" class="tagClass"/></p>
        <button class="btn" type="button" fast-click="queryRecipes()">Search!</button>
	</div>
	
	
	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Instructions</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
             <tr ng-repeat="recipe in recipes">
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.instructions }}</td>
                <td> <a href="#recipe/{{recipe.recipe_url}}" >detail</a>  <a fast-click="deleteRecipe( recipe)" >delete</a>  </td>
            </tr>
		</tbody>
	</table>
	
	
	<a href="#newRecipe">New Recipe</a>,
	<a href="#food">New Food</a>

</div>