<div id="content">

	<div class="page-header">
		<h1>Recipe <span ng-bind="title"></span></h1>
	</div>

	<form name="recipeForm">
			
			<div ng-bind="error" class="error"></div>
			
			<div class="fieldCont">
				<label for="textinput">
					Name
				</label>
				<input id="textinput" name="name"   type="text" ng-model="recipeDetail.name" required ng-blur="saveRecipeName()">
			</div>
			
			<div ng-show="editable">
				<div class="fieldCont">
					<label for="textinput1">
						Instructions
					</label>
					<input id="textinput1" name="instructions"   type="text" ng-model="recipeDetail.instructions" required ng-blur="saveRecipeInstructions()">
				</div>
				
				<table id="hor-minimalist-b" style="width:100%;">
					<thead>
						<tr>
							<th>Food</th>
							<th>Amount</th>
							<th>Unit</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ing in ingredients">
							<td>{{ ing.food }}</td>
							<td>{{ ing.amount }}</td>
							<td>{{ ing.unit }}</td>
							<td><a fast-click="deleteIngredient( ing)" >delete</a>  </td>
						</tr>
					</tbody>
				</table>
				
		  <div class="row marginTop">
            <div class="span10">
            
              <div class="span3 minMargin">
                <div ng-bind="errorTextFood" class="error"></div>
					<label for="foodInput">
						Food
					</label>
					<input auto-complete id="foodInput" name="foodInput"  type="text" ng-model="ingr.recipeFood">
     
              </div>
              <div class="span3 minMargin">
					<label for="amountInput">
						Amount
					</label>
					<input id="amountInput" name="amountInput"  type="number" ng-model="ingr.recipeFoodAmount">
              
              </div>
              <div class="span3 minMargin">
					<label for="unitInput">
							Unit
					</label>
					<input id="unitInput" name="unitInput"  type="text" ng-model="ingr.recipeFoodUnit">
              </div>              
            </div>
			  
          </div>
				 	<button class="btn" type="button" fast-click="addFoodtoDetailList(ingr)">add +</button>
				
			</div>
		</form>

</div>