<div id="content">

	<h1> 
			Recipes
	</h1>

	<div class="input-append">
		<input tagauto-complete  ng-model="search" ng-change="autoComplete()"class="span10" id="searchField" type="text">
		<br/>asdasds
		<p><input type="text" id="taglist" ng-model="searchquery"/></p>
        <button class="btn" type="button" fast-click="queryRecipes()">Search!</button>
	</div>
	
	
	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Instructions</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
             <tr ng-repeat="recipe in recipes">
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.instructions }}</td>
                <td> <a fast-click="openRecipeDetails(  recipe.recipe_url)" >edit</a>  <a fast-click="deleteRecipe( recipe.recipe_url)" >delete</a>  </td>
            </tr>
		</tbody>
	</table>
	
	
	<a fast-click="openRecipeDetails('')">New Recipe</a>

</div>