<div id="content">


	<div class="page-header">
          <h1>Recipes</h1>
	</div>

	<form class="form-search">
		<div class="input-append">
			<input type="text" class="span2 search-query" placeholder="Search Foods" tagauto-complete >
			<button type="submit" class="btn"><i class="icon-search"  fast-click="queryRecipes()"></i></button>
		</div>
	</form>
			
	<p><input type="text" id="taglist" taglist ng-model="searchquery" class="tagClass"/></p>
				
	
	
	

	<table id="hor-minimalist-b">
		<thead>
			<tr>
				<th>Name</th>
				<th>Instructions</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
             <tr ng-repeat="recipe in recipes">
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.instructions }}</td>
                <td> <a href="#recipe/{{recipe.recipe_url}}" >detail</a>  <a fast-click="deleteRecipe( recipe)" >delete</a>  </td>
            </tr>
		</tbody>
	</table>
	

</div>