<div id="content">


	<div class="page-header">
          <h1>Recipe <span ng-bind="title"></span></h1>
	</div>
	
	<div ng-bind="error" class="error"></div>

	<p>{{recipeDetail.instructions}} </p>
	
	<table id="hor-minimalist-b">
		<thead>
			<tr>
				<th>Food</th>
				<th>Amount</th>
				<th>Unit</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ing in ingredients">
				<td scope="col">{{ ing.food }}</td>
				<td scope="col">{{ ing.amount }}</td>
				<td scope="col">{{ ing.unit }}</td>
			</tr>
		</tbody>
	</table>
		
	<button class="btn marginTop" type="button" fast-click="openRecipeDetailsEdit(  recipeID )" ng-show="hasRight">edit Recipe</button>
	
</div>