/* 
    Document   : foodeys
    Created on : 25.03.2013, 22:38:39
    Author     : mmueller
    Description:
        Purpose of the stylesheet follows.

        Existing content is for demonstration purpose only.
*/

root { 
    display: block;
}

div#wrapper {
    overflow: hidden;
}

div#sidebar{
    float:right;
    color: wheat;
    background-color: darkslategrey;
    border-radius: 1em;
    padding: 1em;
    width: 22em;
    margin-left: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em gray;
}
