<div id="content">

	<h1> 
			Ingredients
	</h1>


	<form name="ingredientForm">
			<div ng-bind="error" class="error"></div>
			<span class="error" ng-show="submit && registerForm.$error.email">The entered email ist not valid</span>

			<div class="fieldCont">
				<label for="textinput">
					Food
				</label>
				<input id="textinput" name="name"   type="text" ng-model="name" required>
			</div>
			
			<div class="fieldCont">
				<label for="textinput1">
					Amount
				</label>
				<input id="textinput1" name="regEmail"   type="text" ng-model="registerName" required >
			</div>
			
			<div class="fieldCont">
				<label for="textinput11">
					Unit
				</label>
				<input id="textinput11" name="regEmail"   type="text" ng-model="registerName" required>
				<label for="textinput22">
					Unit
				</label>
				<input id="textinput22" name="regEmail"   type="text" ng-model="registerName" required>
					<button class="btn" type="button">add +</button>
				
			</div>
			
			
			<div class="buttonbar">
				<a class="button full" fast-click="register(registerForm)">
					Save
				</a>
			</div>
			
			<a class="button full" fast-click="register(registerForm)">
				New Food
			</a>
		</form>

</div>